<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css"></link>
    <title>Document</title>
</head>
<body>
    
    
    <div class='container'>

    <h1>Budget List</h1>

        <table>
            <!-- creates table from budgets array and added items -->
            <% for(let i=0; i < allBudgets.length; i++) { %>

                <tr>

                <td><%= allBudgets[i].date%></td>

                <td>
                    <a href="/budgets/<%=i%>"><%=allBudgets[i].name%></a>
                </td>

                <td><%= allBudgets[i].amount%></td>
                
                </tr>
                <!-- updates bank account -->
                <%account = account + parseInt(allBudgets[i].amount)%>
                <!-- styles background according to bank account amount -->
                <%if (account < 0) { %>
                    <style type='text/css'>
                        *{
                            background-color: red;
                        }
                    </style>
                <%} else if(account >1000){%>
                    <style type='text/css'>
                        *{
                            background-color: lightblue;
                        }
                    </style>
                <%} else {%>
                    <style type='text/css'>
                        *{
                            background-color: yellow;
                        }
                    </style>
                <%}%>
            <%}%>
                
        </table>

        <a href="/budgets/new"><button>Add to budget</button></a>

    <h2 id='account'>Bank Account = <%=account%></h2>
        
    </div>




</body>
</html>